* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 15px 30px;
    padding: 15px;
    text-transform: capitalize;
    border: #ccc 1px solid;
}

input[type=text],
select,
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

fieldset {
    border: #ccc;
    padding: 20px;
    margin: 20px 0;
}